services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - ../backend/libros_pdf:/app/libros_pdf
      - ../backend/libros_portada:/app/libros_portada
      - ../backend/wallet:/app/wallet
    env_file:
      - ../backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ../frontend
    ports:
      - "80:80"
    volumes:
      - ../backend/libros_pdf:/var/www/libros_pdf
      - ../backend/libros_portada:/var/www/libros_portada
    depends_on:
      - backend
    restart: unless-stopped
